# The id of the broker. This must be set to a unique integer for each broker.
broker.id={{ kafka_broker_id }}

advertised.listeners=PLAINTEXT://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9092

# Maps listener names to security protocols, the default is for them to be the same. See the config documentation for more details
#listener.security.protocol.map=PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_SSL:SASL_SSL

# The number of threads that the server uses for receiving requests from the network and sending responses to the network
num.network.threads=3

# The number of threads that the server uses for processing requests, which may include disk I/O
num.io.threads=8

# The send buffer (SO_SNDBUF) used by the socket server
socket.send.buffer.bytes=102400

# The receive buffer (SO_RCVBUF) used by the socket server
socket.receive.buffer.bytes=102400

# The maximum size of a request that the socket server will accept (protection against OOM)
socket.request.max.bytes=104857600


log.dirs={{ kafka_logs_dir }}

num.partitions=1

num.recovery.threads.per.data.dir=1

offsets.topic.replication.factor=1
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1

log.retention.hours=168

log.segment.bytes=1073741824

log.retention.check.interval.ms=300000

{% set all_zk = [] -%}
{% set zk_hosts = groups.zookeeper %}
{% for host in zk_hosts -%}
  {% set zk_ip = hostvars[host].ipv4_address|default(hostvars[host]['ansible_default_ipv4']['address']) -%}
  {% set _ = all_zk.append("%s:%s" % (zk_ip, zk_client_port)) -%}
{% endfor -%}
{% set zk_servers = all_zk | join(',') -%}

zookeeper.connect={{ zk_servers }}

zookeeper.connection.timeout.ms=6000

group.initial.rebalance.delay.ms=0
